# Generic ignores
*.log
*.log.*
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__
*.gz
.*/

# Directory (contents) ignores
.cloud
.storage
deps
node-red/node_modules

# Specific file ignores
.config_entries.json
.homekit.state
.ios.conf
.spotify-token-cache
.google.token
.tradfri_psk.conf
.uuid
core
html5_push_registrations.conf
image
google_calendars.yaml
ip_bans.yaml
known_devices.yaml
neighbours
/secrets.yaml
service_account.json
esphome/.gitignore

# zigbee2mqtt
zigbee2mqtt

# Ignore add-on files
aircast.xml
airsonos.xml
notebooks

# Specific keeps
!.gitignore/

# Temporary
/temp
influxdb.yaml