- id: '1734035077561'
  alias: Publish Inverter & Power Meter Data to Freeds MQTT
  description: Sends inverter and power meter data to Freeds system
  triggers:
  - entity_id: sensor.boiler_surplus_load
    id: trigger_boiler_load_change
    trigger: state
  - entity_id:
    - sensor.power_meter_active_power
    - sensor.inverter_pv_1_voltage
    - sensor.inverter_pv_1_current
    - sensor.inverter_pv_2_voltage
    - sensor.inverter_pv_2_current
    - sensor.inverter_input_power
    - sensor.inverter_solar_kw_use
    - sensor.inverter_internal_temperature
    id: trigger_inverter_state_change
    trigger: state
    enabled: true
  conditions:
  - condition: sun
    before: sunset
    after: sunrise
    enabled: false
  - condition: numeric_state
    entity_id: sensor.inverter_active_power
    above: 200
    enabled: false
  actions:
  - choose:
    - conditions:
      - condition: trigger
        id: trigger_boiler_load_change
      sequence:
      - data:
          topic: Inverter/GridWatts
          payload: "{{ \n  (states('sensor.power_meter_active_power') | float(0))
            * -1 +\n  ((states('sensor.boiler_surplus_load') | float(0)) - \n  (states('input_number.memory_boiler_after_inverter_data_polling')
            | float(0))) +\n  (states('input_number.boiler_adjustment_factor') | float(0))\n}}\n"
          qos: 1
          retain: true
        action: mqtt.publish
    - conditions:
      - condition: trigger
        id: trigger_inverter_state_change
      sequence:
      - data:
          topic: Inverter/GridWatts
          payload: "{{\n  (states('sensor.power_meter_active_power') | float) * -1
            +\n  (states('input_number.boiler_adjustment_factor') | float)\n}}\n"
          qos: 1
          retain: true
        action: mqtt.publish
      - data:
          topic: Inverter/MPPT1_Watts
          payload: "{{\n  (states('sensor.inverter_pv_1_voltage') | float) *\n  (states('sensor.inverter_pv_1_current')
            | float)\n}}\n"
          qos: 1
          retain: true
        action: mqtt.publish
      - data:
          topic: Inverter/MPPT2_Watts
          payload: "{{\n  (states('sensor.inverter_pv_2_voltage') | float) *\n  (states('sensor.inverter_pv_2_current')
            | float)\n}}\n"
          qos: 1
          retain: true
        action: mqtt.publish
      - data:
          topic: Inverter/MPPT1_Volts
          payload: '{{ states(''sensor.inverter_pv_1_voltage'') }}'
          qos: 1
          retain: true
        action: mqtt.publish
      - data:
          topic: Inverter/MPPT2_Volts
          payload: '{{ states(''sensor.inverter_pv_2_voltage'') }}'
          qos: 1
          retain: true
        action: mqtt.publish
      - data:
          topic: Inverter/MPPT1_Amps
          payload: '{{ states(''sensor.inverter_pv_1_current'') }}'
          qos: 1
          retain: true
        action: mqtt.publish
      - data:
          topic: Inverter/MPPT2_Amps
          payload: '{{ states(''sensor.inverter_pv_2_current'') }}'
          qos: 1
          retain: true
        action: mqtt.publish
      - data:
          topic: Inverter/PvWattsTotal
          payload: '{{ states(''sensor.inverter_input_power'') }}'
          qos: 1
          retain: true
        action: mqtt.publish
      - data:
          topic: Inverter/SolarKwUse
          payload: '{{ states(''sensor.inverter_daily_yield'') }}'
          qos: 1
          retain: true
        action: mqtt.publish
      - data:
          topic: Inverter/Temperature
          payload: '{{ states(''sensor.inverter_internal_temperature'') }}'
          qos: 1
          retain: true
        action: mqtt.publish
      - data:
          entity_id: input_number.memory_boiler_after_inverter_data_polling
          value: '{{ states(''sensor.boiler_surplus_load'') | float(0.0) }}'
        action: input_number.set_value
  mode: queued
  max: 10
- id: '1737315230798'
  alias: Poll Huawei Solar and Power Meter Sensors
  description: Periodically updates inverter, power meter, and battery data
  triggers:
  - hours: '*'
    minutes: '*'
    seconds: /20
    id: trigger_poll_inverter
    trigger: time_pattern
    enabled: true
  - hours: '*'
    minutes: '*'
    seconds: /5
    id: trigger_poll_power_meter
    trigger: time_pattern
  - hours: '*'
    minutes: '*'
    seconds: /20
    id: trigger_poll_battery
    trigger: time_pattern
    enabled: false
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: trigger
        id: trigger_poll_inverter
      sequence:
      - target:
          entity_id: sensor.inverter_daily_yield
        action: homeassistant.update_entity
        data:
          entity_id:
          - sensor.inverter_daily_yield
        enabled: true
    - conditions:
      - condition: trigger
        id: trigger_poll_power_meter
      sequence:
      - target:
          entity_id: sensor.power_meter_active_power
        action: homeassistant.update_entity
        data:
          entity_id:
          - sensor.power_meter_active_power
        enabled: true
    - conditions:
      - condition: trigger
        id: trigger_poll_battery
      sequence:
      - target:
          entity_id: sensor.battery_state_of_capacity
        action: homeassistant.update_entity
        data:
          entity_id:
          - sensor.battery_state_of_capacity
        enabled: true
  mode: queued
  max: 10
- id: '1739920466122'
  alias: Manage Water Box Runtime & Activation
  description: Controls water box runtime and activation logic
  triggers:
  - minutes: /1
    id: trigger_increment_runtime
    trigger: time_pattern
  - at: 00:00:00
    id: trigger_reset_runtime
    trigger: time
  - entity_id:
    - sensor.power_meter_active_power
    - sensor.inverter_active_power
    id: trigger_power_change
    trigger: state
  actions:
  - choose:
    - conditions:
      - condition: trigger
        id: trigger_reset_runtime
      sequence:
      - data:
          value: 0
        action: input_number.set_value
        target:
          entity_id:
          - input_number.water_box_runtime
    - conditions:
      - condition: trigger
        id: trigger_increment_runtime
      - condition: state
        entity_id: switch.boiler_relay_1
        state: 'on'
      sequence:
      - action: input_number.increment
        target:
          entity_id: input_number.water_box_runtime
    - conditions:
      - condition: trigger
        id: trigger_power_change
      - condition: state
        entity_id: switch.boiler_relay_1
        state: 'off'
      - condition: state
        entity_id: input_boolean.boiler_control_auto
        state: 'on'
      - condition: numeric_state
        entity_id: sensor.inverter_active_power
        above: 1400
      - condition: numeric_state
        entity_id: input_number.water_box_runtime
        below: input_number.water_box_time_factor
      sequence:
      - entity_id: switch.boiler_relay_1
        action: switch.turn_on
      - action: switch.turn_on
        target:
          entity_id: switch.water_pump_contactor_2
    - conditions:
      - condition: trigger
        id: trigger_power_change
      - condition: state
        entity_id: switch.boiler_relay_1
        state: 'on'
      - condition: state
        entity_id: input_boolean.boiler_control_auto
        state: 'on'
      - condition: or
        conditions:
        - condition: numeric_state
          entity_id: sensor.inverter_active_power
          below: 1400
        - condition: numeric_state
          entity_id: input_number.water_box_runtime
          above: input_number.water_box_time_factor
      sequence:
      - entity_id: switch.boiler_relay_1
        action: switch.turn_off
      - action: switch.turn_off
        target:
          entity_id: switch.water_pump_contactor_2
  mode: single
- id: '1741732744615'
  alias: MQTT Troubleshooting - Inverter Diagnostics
  description: Publishes inverter diagnostic values for debugging
  triggers:
  - entity_id: sensor.boiler_surplus_load
    id: trigger_boiler_load_change
    trigger: state
  - entity_id:
    - sensor.power_meter_active_power
    - sensor.inverter_pv_1_voltage
    - sensor.inverter_pv_1_current
    - sensor.inverter_pv_2_voltage
    - sensor.inverter_pv_2_current
    - sensor.inverter_input_power
    - sensor.inverter_solar_kw_use
    - sensor.inverter_internal_temperature
    id: trigger_inverter_state_change
    trigger: state
    enabled: true
  conditions: []
  actions:
  - data:
      topic: Inverter/power_meter_active_power
      payload: '{{ (states(''sensor.power_meter_active_power'') | float(0)) * -1 }}'
      qos: 0
      retain: false
    action: mqtt.publish
  - data:
      topic: Inverter/boiler_load
      payload: '{{ (states(''sensor.boiler_surplus_load'') | float(0)) }}'
      qos: 0
      retain: false
    action: mqtt.publish
  - data:
      topic: Inverter/memory_boiler_after_inverter_data_polling
      payload: '{{ (states(''input_number.memory_boiler_after_inverter_data_polling'')
        | float(0)) }}'
      qos: 0
      retain: false
    action: mqtt.publish
  mode: queued
  max: 10
- id: '1761918265815'
  alias: Boiler Mode Control (OFF/MAN/AUTO)
  description: Controls boiler mode based on MQTT, timer, and auto/manual input
  triggers:
  - trigger: time_pattern
    id: periodic_timer
    seconds: /5
    alias: Timer 5s
    enabled: true
  - trigger: state
    id: auto_mode_change
    entity_id:
    - input_boolean.boiler_control_auto
  - trigger: state
    entity_id:
    - select.boiler_mode
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: or
        conditions:
        - alias: 'OFF'
          condition: and
          conditions:
          - condition: state
            entity_id: input_boolean.boiler_control_auto
            state: 'on'
          - condition: or
            conditions:
            - alias: go off in MAN mode
              condition: and
              conditions:
              - condition: state
                entity_id: select.boiler_mode
                state: MAN
              - condition: or
                conditions:
                - condition: numeric_state
                  entity_id: sensor.boiler_heater_temperature
                  above: input_number.boiler_man_temperature
                - condition: and
                  conditions:
                  - alias: Inverter working
                    condition: not
                    conditions:
                    - condition: state
                      entity_id: sensor.inverter_inverter_state
                      state: unavailable
                  - condition: state
                    entity_id: sensor.energy_price_hours
                    state: highPrice
            - alias: go off in AUTO mode
              condition: and
              conditions:
              - condition: state
                entity_id: select.boiler_mode
                state: AUTO
              - condition: or
                conditions:
                - condition: state
                  entity_id: sensor.inverter_inverter_state
                  state: Standby
                - condition: state
                  entity_id: sensor.inverter_inverter_state
                  state: unavailable
                - condition: numeric_state
                  entity_id: sensor.boiler_heater_temperature
                  above: input_number.boiler_auto_temperature
            enabled: true
        - condition: trigger
          id:
          - auto_mode_change
          enabled: true
      sequence:
      - action: select.select_option
        metadata: {}
        data:
          option: 'OFF'
        target:
          entity_id: select.boiler_mode
      alias: 'OFF'
    - conditions:
      - condition: state
        entity_id: select.boiler_mode
        state: 'OFF'
      - condition: or
        conditions:
        - alias: MAN
          condition: and
          conditions:
          - condition: state
            entity_id: input_boolean.boiler_control_auto
            state: 'on'
          - condition: numeric_state
            entity_id: sensor.boiler_heater_temperature
            below: input_number.boiler_man_temperature
          - condition: or
            conditions:
            - condition: and
              conditions:
              - condition: state
                entity_id: sensor.energy_price_hours
                state: lowPrice
              - condition: state
                entity_id: sensor.inverter_inverter_state
                state: Standby
            - condition: state
              entity_id: sensor.inverter_inverter_state
              state: unavailable
              enabled: false
        enabled: true
      sequence:
      - action: select.select_option
        metadata: {}
        data:
          option: MAN
        target:
          entity_id: select.boiler_mode
      alias: MAN
    - conditions:
      - condition: state
        entity_id: select.boiler_mode
        state: 'OFF'
      - condition: state
        entity_id: input_boolean.boiler_control_auto
        state: 'on'
      - condition: numeric_state
        entity_id: sensor.inverter_active_power
        above: 30
      - condition: numeric_state
        entity_id: sensor.boiler_heater_temperature
        below: input_number.boiler_auto_temperature
      sequence:
      - action: select.select_option
        metadata: {}
        data:
          option: AUTO
        target:
          entity_id: select.boiler_mode
      alias: AUTO
  mode: single
