---
# MQTT Client Component
#
# The MQTT Client Component sets up the MQTT connection to your broker. If you are
# connecting to Home Assistant, you may prefer to use the native API, in which case this
# is not needed.
#
# https://esphome.io/components/mqtt.html
#
mqtt:
  id: mqtt_client
  broker: !secret mqtt_broker
  username: !secret mqtt_username
  password: !secret mqtt_password
  topic_prefix: esphome/${slug}
  birth_message:
    topic: esphome/${slug}/status
    payload: "online"
  will_message:
    topic: esphome/${slug}/status
    payload: "offline"
  #on_message:
  #  - topic: esphome/${name}/deep_sleep_mode/ota_mode
  #    payload: 'on'
  #    then:
  #      - deep_sleep.prevent: deep_sleep_1
  #  - topic: sphome/${name}/deep_sleep_mode/ota_mode
  #    payload: 'off'
  #    then:
  #      - deep_sleep.enter: deep_sleep_1
